* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    background-color: rgb(255, 255, 255);
}

input {
    display: none;
}


.content {
    padding-top: 3%;
    margin-left: 1rem;
    margin-right: 1rem;

    .mem-img {
        border: 0.5vmin outset #080808;
        box-sizing: content-box;
        max-width: 70vh;
        display: flex;
        margin: 0 auto;
        overflow: hidden;

        .mem-slider {
            display: flex;
            transition: 2s;
        }

    }

    .text-and-conrtrol {
        margin: 3vh auto;
        max-width: 70vh;
        display: flex;
        justify-content: space-between;

        .text {
            font-size: 1.5rem;
            display: flex;

            p.active {
                opacity: 0;
                animation: opasity-animation 3s forwards;
            }


        }

        .control {
            margin-left: 2rem;
            display: flex;
            gap: 0.5vh;

            .control-circle {
                cursor: pointer;
                width: 1rem;
                height: 1rem;
                background-color: rgb(255, 255, 255);
                border-radius: 100em;
                border: 0.3vmin solid;
                border-color: #080808;
            }

            .control-circle:hover {
                border-color: rgb(204, 129, 43);
                transition: 0.2s;
            }

            .control-circle:active {
                background-color: rgb(202, 115, 15);
                border-color: rgb(202, 115, 15);
                transition: 0.2s;
            }

            .control-circle.active {
                background-color: rgb(202, 115, 15);
                border-color: rgb(202, 115, 15);
                transition: 0.2s;
            }
        }
    }
}

label {
    cursor: pointer;
    padding: 1vh;
}

@media (min-width: 320px) and (max-width: 480.9px) {

    .content {
        padding-top: 3%;

        .mem-img {
            overflow: hidden;

            .mem-slider {
                display: flex;
                background-color: rgba(63, 209, 0, 0.789);
                transition: 2s;
            }

        }

        .text-and-conrtrol {
            margin: 1rem auto;
            max-width: 70vh;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            gap: 1rem;

            .text {
                font-size: 1.5rem;


            }

            .control {
                margin: 0 auto;
                display: flex;
                gap: 0.5vh;

                .control-circle {
                    cursor: pointer;
                    min-width: 1rem;
                    height: 1rem;
                    border: 0.4vmin solid;
                }

            }
        }
    }

}

@keyframes opasity-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}